<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265839825769-6jeu7i7f9fsj4u4uosh2ggq900ggpnbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265839825769-6jeu7i7f9fsj4u4uosh2ggq900ggpnbf</string>
	<key>API_KEY</key>
	<string>AIzaSyBP5SGAz3RgEVIHXJRh3JqQC_Cvo3v07lY</string>
	<key>GCM_SENDER_ID</key>
	<string>265839825769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.rental</string>
	<key>PROJECT_ID</key>
	<string>rental-car-2a275</string>
	<key>STORAGE_BUCKET</key>
	<string>rental-car-2a275.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265839825769:ios:14371c2f9e631f611223f8</string>
</dict>
</plist>